# Auto detect text files and perform LF normalization
* text eol=lf
*.c eol=crlf
*.json eol=crlf
*.png binary
*.jpg binary
*.ico binary
*.pdf binary
*.exe binary
# Exclude sqlite From Stats
include/database/sqlite3.h linguist-vendored
src/database/sqlite3.c linguist-vendored