on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: Windows
permissions:
  id-token: write
  contents: read
env:
  BUILD_TYPE: Release
  GITHUB_ACTIONS: true
  VCPKG_ROOT: ${{github.workspace}}/vcpkg
jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
        - name: "Build on x64"
          os: windows-latest
      fail-fast: false
    steps:
      - name: "Checkout"  
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Setup Environment"
        run: mkdir build
      - name: "Vcpkg"
        uses: johnwason/vcpkg-action@v5
        id: vcpkg
        with:
          pkgs: boost-locale curl gettext-libintl gtest jsoncpp maddy openssl
          triplet: x64-windows
          cache-key: ${{ matrix.config.os }}
          revision: 80403036a665cb8fcc1a1b3e17593d20b03b2489
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build"
        working-directory: ${{github.workspace}}/build
        run: |
          cmake -G "Visual Studio 17 2022" .. -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install
          cmake --build . --config ${{env.BUILD_TYPE}}
      - name: "Install"
        working-directory: ${{github.workspace}}/build
        run: cmake --install .
      - name: "Test"
        run: ${{github.workspace}}/build/Release/libnick_test.exe
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          path: ${{github.workspace}}/install
          name: Windows-x64-${{env.BUILD_TYPE}}